
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="/" id="logo">@Config.ProjectName</a></h1>
                    <nav id="nav">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <a href="twocolumn1.html">Мои фильмы</a>
                        <a href="twocolumn2.html">Мои книги</a>
                        <a href="onecolumn.html">Мои сериалы</a>
                        <a href="threecolumn.html">Мои мультфильмы</a>
                        <a href="fourcolumn.html">Мои игры</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>
