
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Films</title>
</head>
<body>
    <ul class="type-action-content">
        <li><a asp-controller="Content" asp-action="RateFilms">Посмотрел</a></li>
        <li><a asp-controller="Content" asp-action="RememberFilms">Буду смотреть</a></li>
    </ul>
</body>
</html>
