<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rate</title>
</head>
<body>
    <div class="form-rate">
        <form asp-action="">

        </form>
    </div>
    <p>Оценка</p>
</body>
</html>