<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Remember</title>
</head>
<body>
    <p>Чтобы добвить фильм в коллекцию, заплните поля и сохраните данные</p>
    <div>
        <form>
            
        </form>
    </div>
</body>
</html>
