
<div>
    <div>
        <form asp-controller="Home" asp-action="RememberContent" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categ"></select>
            </div>
            <div>
                <label asp-for="Genre"></label>
                <input asp-for="Genre" />
                <span asp-validation-for="Genre"></span>
            </div>
            <div>
                <label asp-for="Autor"></label>
                <input asp-for="Autor" />
                <span asp-validation-for="Autor"></span>
            </div>
            <div>
                <label asp-for="CreationYear"></label>
                <input asp-for="CreationYear" />
                <span asp-validation-for="CreationYear"></span>
            </div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>